<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
      <servlet-name>Caps</servlet-name>
      <servlet-class>p12_db1</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps</servlet-name>
        <url-pattern>/db1</url-pattern>
    </servlet-mapping>


    <servlet>
      <servlet-name>Caps2</servlet-name>
      <servlet-class>p12_db2</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps2</servlet-name>
        <url-pattern>/db2</url-pattern>
    </servlet-mapping>


    <servlet>
      <servlet-name>Caps3</servlet-name>
      <servlet-class>p12_db3</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps3</servlet-name>
        <url-pattern>/db3</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>CapsHello</servlet-name>
      <servlet-class>HelloServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>CapsHello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>CapsPricing</servlet-name>
      <servlet-class>PricingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CapsPricing</servlet-name>
        <url-pattern>/pricing</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>CapsCookieSet</servlet-name>
      <servlet-class>SProg5</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>CapsCookieSet</servlet-name>
        <url-pattern>/SP5</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>CapsCookieRead</servlet-name>
      <servlet-class>SProg6</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>CapsCookieRead</servlet-name>
        <url-pattern>/SP6</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>CapsHitGlobal</servlet-name>
      <servlet-class>HitCountGlobal</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>CapsHitGlobal</servlet-name>
        <url-pattern>/hit-global</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>CapsHitUser</servlet-name>
      <servlet-class>HitCountPerUser</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>CapsHitUser</servlet-name>
        <url-pattern>/hit-user</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>Caps4</servlet-name>
      <servlet-class>SProg11</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps4</servlet-name>
        <url-pattern>/SP11</url-pattern>
    </servlet-mapping>


    <servlet>
      <servlet-name>Caps4</servlet-name>
      <servlet-class>SProg12</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps4</servlet-name>
        <url-pattern>/SP12</url-pattern>
    </servlet-mapping>



    <servlet>
      <servlet-name>Caps5</servlet-name>
      <servlet-class>SProg9</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps5</servlet-name>
        <url-pattern>/SP9</url-pattern>
    </servlet-mapping>


    <servlet>
      <servlet-name>Caps6</servlet-name>
      <servlet-class>SProg10</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps6</servlet-name>
        <url-pattern>/SP10</url-pattern>
    </servlet-mapping>


    <servlet>
      <servlet-name>Caps7</servlet-name>
      <servlet-class>SProg7</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps7</servlet-name>
        <url-pattern>/SP7</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Caps8</servlet-name>
      <servlet-class>SProg8</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>Caps8</servlet-name>
        <url-pattern>/SP8</url-pattern>
    </servlet-mapping>




</web-app>